.topStrip{
    width: 100%;
    height: 10%;
    background-color: rgb(217, 215, 210);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2%;

}

.documentBoxTitle{
    padding-top: 20%;
    font-size: larger;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(22, 84, 111) ;
  
}

.submitButton{
    width: 30%;
    background: linear-gradient(rgb(34, 128, 168),  rgb(22, 84, 111));
    min-height: 20%;
    border: none;
    border-radius: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    box-shadow: 0 2px 2px  rgb(13, 51, 67);
    transition: all 0.1s ease;

    cursor: pointer;


}
.submitButton:hover{
    box-shadow: 0px 5px 5px rgb(13, 51, 67) ;
}

.submitButton:active{
    box-shadow: none;
    transform: translateY(5px);
}

.mainContainer {
width: 100%;
min-height: 80vh;
height:auto;
background-color:  rgb(217, 215, 210);
display: flex;
flex-direction: row;
}



.documentBox {
    width: 30%;
    min-height: 60%;
    background-color:white;
    box-shadow: inset 0px 0px 5px  ;
    padding: 2%;
    margin: 1%;
    border-radius: 15px;
    word-wrap: break-word;


}

.blankCenterBox{
    width: 30%;
    min-height: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 0px 5px  ;
    padding: 2%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
}

.matchCenterBox {
    width: 30%;
    min-height: 80%;
    background-color: rgb(46, 234, 46);
    box-shadow: inset 0px 0px 5px  ;
    padding: 2%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
}

.mismatchCenterBox{
    width: 30%;
    min-height: 80%;
    background-color: rgb(234, 30, 30);
    box-shadow: inset 0px 0px 5px  ;
    padding: 2%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
}

.centerBoxText{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

.ignoreBox{
    margin:5px;
    padding: 5px;
    border-radius: 15px;
    background-color: cornflowerblue;
    box-shadow: 0px 2px 5px rgb(14, 13, 13);

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
}

.toggleBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.toggle{
    visibility: hidden;
}
.toggleLabel{
    background-color: rgb(255, 255, 255);
    width: 80px;
    height:40px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;


}
.toggle:checked+ .toggleLabel{
    background-color: rgb(82, 82, 82);
}
.ball{
    background-color: rgb(183, 180, 173);
    width: 37px;
    height: 37px;
    border-radius: 50px;
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    animation: slideOn 0.2s linear reverse;

}

.toggle:checked + .toggleLabel .ball{
    animation: slideOn 0.2s linear forwards;
}


@keyframes slideOn{
    0%{
        transform: translateX(0) scale(1);
    }
    50%{
        transform: translateX(20px) scale(1.2);
    }
    100%{
        transform: translateX(40px) scale(1);
    }
}

